# Algoritmo do tipo árvore de decisão
    Este tipo de algoritmo busca prever um determonado resultado, levando em consideração experiências anteriores, criando filtros, ou nós, 
    que iniciando no mais relevante até o menos vai eliminando as situações mais improváveis até chegar ao resultado mais próximo da realidade.

In [26]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import confusion_matrix , accuracy_score
from sklearn.tree import DecisionTreeClassifier

    Importação e visualização dos dados

In [27]:
credito = pd.read_csv('/content/Credit.csv')
credito.shape

(1000, 21)

In [28]:
credito.head()

,checking_status,duration,credit_history,purpose,credit_amount,savings_status,employment,installment_commitment,personal_status,other_parties,...,property_magnitude,age,other_payment_plans,housing,existing_credits,job,num_dependents,own_telephone,foreign_worker,class
0,<0,6,'critical/other existing credit',radio/tv,1169,'no known savings',>=7,4,'male single',none,...,'real estate',67,none,own,2,skilled,1,yes,yes,good
1,0<=X<200,48,'existing paid',radio/tv,5951,<100,1<=X<4,2,'female div/dep/mar',none,...,'real estate',22,none,own,1,skilled,1,none,yes,bad
2,'no checking',12,'critical/other existing credit',education,2096,<100,4<=X<7,2,'male single',none,...,'real estate',49,none,own,1,'unskilled resident',2,none,yes,good
3,<0,42,'existing paid',furniture/equipment,7882,<100,4<=X<7,2,'male single',guarantor,...,'life insurance',45,none,'for free',1,skilled,2,none,yes,good
4,<0,24,'delayed previously','new car',4870,<100,1<=X<4,3,'male single',none,...,'no known property',53,none,'for free',2,skilled,2,none,yes,bad

    Divisão dos dados entre os que serão utilizados para realizar a previsão e a classe que será prevista.

In [29]:
previsores = credito.iloc[:,0:20].values
classe = credito.iloc[:,20].values

    Transformação dos dados categóricos em numéricos para que seja possível a leitura pelo algoritmo de machine learning.

In [30]:
labelencoder = LabelEncoder()
for i in range(0,20):
  if i in (1,4,7,10,12,15,17):
    continue
  previsores[:,i] = labelencoder.fit_transform(previsores[:,i])

    Separando os dados em 70% para o treino do algoritmo e 30 para o teste.

In [31]:
x_treino, x_teste, y_treino, y_teste = train_test_split(previsores, classe, test_size= 0.3, random_state= 0)

    Criação e treinamento do modelo de machine learning, árvore de decisão.

In [32]:
arvore = DecisionTreeClassifier()
arvore.fit(x_treino, y_treino)

DecisionTreeClassifier()

    Realizando previsões a partir das variáveis independentes de teste.

In [33]:
previsoes = arvore.predict(x_teste)

    Testando a acurácia do modelo atavés de uma matriz de confusão, a taxa percentual de acertos e a taxa de erros.

In [34]:
confusao = confusion_matrix(y_teste, previsoes)
confusao

array([[ 44,  42],
       [ 49, 165]])

In [35]:
taxa_acerto = accuracy_score(y_teste, previsoes)
taxa_acerto

0.6966666666666667

In [36]:
taxa_erro = 1 - taxa_acerto
taxa_erro

0.30333333333333334