# Os algorítimos de random forest são basicamente algorítimos que utilizam diversas árvores de decisão buscando um resultado, na maioria dos casos, um pouco mais preciso do que com a utilização de uma árvore de decisão única.

In [10]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import confusion_matrix , accuracy_score
from sklearn.ensemble import RandomForestClassifier

## O presente trabalho tem por objetivo criar um modelo de machine learnig do tipo random forest, para prever se determinado cliente será um bom ou mau pagador, ou seja, vamos prever o provável resultado para a coluna class.

In [11]:
credito = pd.read_csv('/content/Credit.csv')
credito.head()

,checking_status,duration,credit_history,purpose,credit_amount,savings_status,employment,installment_commitment,personal_status,other_parties,...,property_magnitude,age,other_payment_plans,housing,existing_credits,job,num_dependents,own_telephone,foreign_worker,class
0,<0,6,'critical/other existing credit',radio/tv,1169,'no known savings',>=7,4,'male single',none,...,'real estate',67,none,own,2,skilled,1,yes,yes,good
1,0<=X<200,48,'existing paid',radio/tv,5951,<100,1<=X<4,2,'female div/dep/mar',none,...,'real estate',22,none,own,1,skilled,1,none,yes,bad
2,'no checking',12,'critical/other existing credit',education,2096,<100,4<=X<7,2,'male single',none,...,'real estate',49,none,own,1,'unskilled resident',2,none,yes,good
3,<0,42,'existing paid',furniture/equipment,7882,<100,4<=X<7,2,'male single',guarantor,...,'life insurance',45,none,'for free',1,skilled,2,none,yes,good
4,<0,24,'delayed previously','new car',4870,<100,1<=X<4,3,'male single',none,...,'no known property',53,none,'for free',2,skilled,2,none,yes,bad

    Se paração dos dados em previsores, que serão todas as linhas das colunas 0 à 19 e a classe que buscada que será todas as linhas da coluna 20.
    Lembrando que pythom possui indexação em 0.

In [12]:
previsores = credito.iloc[:,0:20].values
classe = credito.iloc[:,20].values

    Será utilizada a função LabelEncoder do sklearn, para converter os valores categóricos em numéricos, 
    para que a leitura dos mesmos seja possível pelo algorítimo.

In [13]:
labelencoder = LabelEncoder()
for i in range(0,20):
  if i in (1,4,7,10,12,15,17,):
    continue
  previsores[:,i] = labelencoder.fit_transform(previsores[:,i])

    Separação dos dados em 70% para o treino do modelo e 30% para o teste.

In [14]:
x_treino, x_teste, y_treino, y_teste = train_test_split(previsores, classe, test_size= 0.3, random_state= 1)

    Criação e treinamento do modelo com a criação de 150 árvores, sendo que o padrão é 100.

In [15]:
floresta = RandomForestClassifier(n_estimators=150)
floresta.fit(x_treino, y_treino)

RandomForestClassifier(n_estimators=150)

    Utilizando o modelo para obter previsões, conferindo a taxa de acerto e apurando a quantidade de acertos com uma matriz de confusão

In [16]:
previsoes = floresta.predict(x_teste)
confusao = confusion_matrix(y_teste, previsoes)
taxa_acerto = accuracy_score(y_teste, previsoes)

In [17]:
taxa_acerto

0.76

In [18]:
confusao

array([[ 32,  54],
       [ 18, 196]])